html {
    height: 100%;
}

body,
#app,
.my-container {
    height: inherit;
}

.my-navbar {
    position: fixed;
}

.my-background-color-1 {
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.my-background-color-2 {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* playa-mar */
.my-background-color-3 {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #70e1f5, #ffd194);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #70e1f5, #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-background-color-4 {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Tabs */
.tabs .tab a{
    color:#2980B9;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#2980B9;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}
.tabs .indicator {
	background-color:#2980B9;
}